body, div {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  padding: 3rem;
}

@media screen and (max-width: 1099px) {
  .container {
    max-width: 90vw;
    width: 90vw;
  }

  body {
    font-size: 200%;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    max-width: 1000px;
    width: 1000px;
  }
}

.blog-header nav {
	margin: 1rem 0;
}

.blog-header nav a {
	margin: 0 0.2em;
}

.post:first-child {
	margin-top: 1.25em !important;
}

.post {
	margin: 1.5em 0;
}

.post-summary, post-content {
	margin: 0.5em 0;
}
